:root {
    --primary-color: #1F509A;
}

html {
    scroll-behavior: smooth;
}

 
::-webkit-scrollbar {
    width: 9px;
}

Track
::-webkit-scrollbar-track {
    display: none;
}


::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--primary-color);
}


::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}